<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Login Application</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item" style="float: right;">
                <a href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>