<h1> Hello {{descriptedName}} welcome to dashboard</h1>


<!--<div class="container">-->
<!--    <ejs-uploader id="droparea"  [asyncSettings]="path" [dropArea]="dropElement"-->
<!--                  multiple="true" [autoUpload]="true" sequentialUpload="true"-->
<!--                  minFileSize="10000" maxFileSize="1000000">-->
<!--    </ejs-uploader>-->
<!--    <e-files>-->
<!--        <e-uploadedfiles name="diplome" size="11000" type=".png"></e-uploadedfiles>-->
<!--        <e-uploadedfiles name="Nature" size="11000" type=".pdf"></e-uploadedfiles>-->
<!--    </e-files>-->
<!--</div>-->

<!--autoUpload -> ça affiche les bouttons upload et clear pour télécharger seulement ce qu'on veut télécharger si elle est false-->
<!--sequentialUpload -> télécharge les fichiers un par un-->
<!--asyncSettings -> si elle est true :affiche les barres de progression de téléchargement pour chaque fichier-->
<!--directoryUpload -> si elle est true :affiche seulement des dossiers pour l'import mais il télécharge tt les fichiers du dossier séléctionné-->
<!--allowedExtensions=".png" -> permet seulement à ce type de fichier -->

